# you can define it in .tfvars, but here, we just simple it
admin_email = [{% for email in admin_emails %}"{{email}}",{% endfor %}]
random_str = "{{random_str}}"
aws_config_bucket_name = "{{aws_config_bucket_name}}"
